channels
daphne
aioredis
apiclient
asgiref
asgiref
async-timeout
attr
attrs
autobahn
automat
cachetools
certifi
cffi
charset_normalizer
channels-redis
constantly
cryptography
django
django-cors-headers
google_auth_oauthlib
google-api-python-client
hiredis
httplib2
hyperlink
idna
incremental
Pyjwt
oauthlib
gunicorn
Pillow
protobuf
psycopg2
pyasn1
pyasn1_modules
pycparser
pyparsing
pytz
requests
requests_oauthlib
djangorestframework
djangorestframework-simplejwt
rsa
service_identity
setuptools
sqlparse
tomli
twisted
txaio
tzdata
uritemplate
urllib3
wheel
zope.interface
